body {
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

.nav ul {
    list-style: none;
    background-color: #efefef;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color:#222222;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #222;
    cursor: default;
}

.nav li {
    width: 160px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.1em;
}

/* Option 1 - Display Inline */
.nav li {
    display: inline-block;
    margin-right: -4px;
}



/*show tweets*/
ul#show-tweets {
    padding: 10px;
    font-size: 13px;
    margin:4px;
    border:1px solid #efefef;
}

ul#show-tweets li{
    list-style-type: upper-roman;
    background: #efefef;
    margin-top: 10px;
    padding: 10px 2px;
    border-bottom: 1px solid #CCC;
}