{% extends 'HashtagBundle::base.html.twig' %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}


    <ul id="show-tweets">
        {% for tweet in tweets.statuses %}
           <li> {{ tweet.text }} </li>
        {% endfor %}
    </ul>


    <script>


        $("#send").click(function(e){
            var content = $("#hashtag").val();
            $.ajax({
                type: "POST",
                url: '/ajax',
                data: {"keyword":content},
                success: function(data){
                   /* NOT FINSHED */
                }
            })
        });

    </script>
{% endblock %}