<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>

        <style>

        </style>
    </head>
    <body>
        {% block navbar %}

            <header>
                <div class="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/twitter-login">Login With Twitter</a></li>
                    </ul>
                </div>
            </header>

        {% endblock %}
        {% block body %}
        <section id="search">
            <div class="form-notice"></div>
            <div class="form-wrapper">
                <form method="POST" action="{{ path('change_hashtag') }}">
                    <input type="text" id="hashtag" name="hashtag" placeholder="enter your hashtag" value="symfony">
                    <input type="button" id="send" value="change it" @click="loadTweets">
                </form>

            </div>
        </section>

        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/vendor/vue/dist/vue.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/nanoajax/nanoajax.min.js') }}"></script>
            <script src="{{ asset('assets/js/app.js') }}"></script>
        {% endblock %}

    </body>
</html>
